*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Gabarito", sans-serif;
  overflow-x: hidden;
  width: 100%;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}
.navbar__s1__title{
    color:#a435f0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 15px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;

}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.cetegories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.cetegories p{
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
.banner-img {
    max-width: 100%;         
    height: auto;
    display: block;
}
.banner-container {
  position: relative;    /
  width: 100%;
    mx-width: 100%;
  display: block;    
}
.learning-box {
  position: absolute; 
  top: 50%;
  left: 48px;
  transform: translateY(-50%); /* Clean positioning dynamic centering */
  background-color: #ffffff;
  padding: 24px;
  width: 380px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  z-index: 10;  
}

.learning-box h1 {
  font-family: Arial, sans-serif;
  font-size: clamp(20px, 2.5vw, 32px;
  font-weight: bold;
  color: #1c1d1f;
  margin-top: 0;
  margin-bottom: 8px;
}

.learning-box p {
  font-family: Arial, sans-serif;
  font-size: clamp(12px, 1.2vw, 16px);
  line-height: 1.4;
  color: #1c1d1f;
  margin: 0;
}
.recommended{
    padding: 10px;

}
.recommended__container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 10px;
}
.course-card{
    width: 300px;
}
.course-card img{
    width: 100%;
    height: 50%;

}
.topics{
    padding: 10px;

}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
